Repository llazzaro/web_applications_django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, djlint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

repos:
  - repo: local
    hooks:
        - id: black
          name: black
          entry: poetry run python -m black --check .
          language: system
          types: [ python ]
        - id: isort
          name: isort
          entry: poetry run python -m isort --check-only  .
          language: system
          types: [ python ]
        - id: djlint
          name: djlint
          entry: poetry run python -m djlint . --check
          language: system
          types: [ html ]

feat: new home view and template
  taskmanager/tasks/views.py
  taskmanager/templates/tasks/home.html
Due: black, isort, djlint

feat: adding custom template tags and filters
  taskmanager/tasks/templatetags/__init__.py
  taskmanager/tasks/templatetags/sprint_tags.py
  taskmanager/tasks/templatetags/task_filters.py
  taskmanager/templates/tasks/_sprint_summary.html
  taskmanager/templates/tasks/_tasks_percent_completed.html
Due: black, isort, djlint

feat: adding static settings
  .gitignore
  taskmanager/taskmanager/settings.py
  taskmanager/tasks/static/images/task_manager.png
  taskmanager/tasks/urls.py
  taskmanager/templates/tasks/_header.html
Due: black, isort, djlint

feat: adding django-storages and example config for aws s3
  poetry.lock
  pyproject.toml
  taskmanager/taskmanager/settings.py
Due: black, isort

feat: adding context processor example
  taskmanager/tasks/context_processors.py
Due: black, isort

feat: adding task priority tag
  taskmanager/tasks/models.py
  taskmanager/tasks/templatetags/sprint_tags.py
  taskmanager/templates/tasks/_sprint_summary.html
Due: black, isort, djlint

feat: adding markdown to html filter and snippet
  poetry.lock
  pyproject.toml
  taskmanager/tasks/models.py
  taskmanager/tasks/templatetags/task_filters.py
Due: black, isort

feat: adding sprint view and templates
  taskmanager/tasks/services/sprint.py
  taskmanager/tasks/views.py
  taskmanager/templates/tasks/_task_comment.html
  taskmanager/templates/tasks/sprint_detail.html
  taskmanager/templates/tasks/sprints.html
Due: black, isort, djlint

feat: add djlint to pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: add django-widget-tweaks
  poetry.lock
  pyproject.toml
Due: none

feat: add mailhog for local email testing
  docker-compose.yml
Due: none

feat: add contact and tasks forms
  taskmanager/taskmanager/settings.py
  taskmanager/tasks/fields.py
  taskmanager/tasks/forms.py
  taskmanager/tasks/migrations/0007_task_priority_subscribedemail_comment.py
  taskmanager/tasks/models.py
  taskmanager/tasks/services/email.py
  taskmanager/tasks/urls.py
  taskmanager/tasks/views.py
  taskmanager/templates/tasks/_footer.html
  taskmanager/templates/tasks/contact_form.html
  taskmanager/templates/tasks/contact_success.html
  taskmanager/templates/tasks/task_detail.html
  taskmanager/templates/tasks/task_form.html
Due: black, isort, djlint

feat: file and image upload to tasks create form
  poetry.lock
  pyproject.toml
  taskmanager/taskmanager/settings.py
  taskmanager/tasks/forms.py
  taskmanager/tasks/migrations/0008_task_file_upload_task_image_upload.py
  taskmanager/tasks/models.py
  taskmanager/tasks/urls.py
  taskmanager/tasks/views.py
Due: black, isort

feat: adding service layer functionality for managing multiple tasks per epic
  taskmanager/tasks/forms.py
  taskmanager/tasks/services/epic.py
  taskmanager/tasks/services/task.py
  taskmanager/tasks/views.py
Due: black, isort

feat: adding request time middleware exmaple
  taskmanager/taskmanager/settings.py
  taskmanager/tasks/middlewares.py
  taskmanager/tasks/tasks_logger.py
Due: black, isort

feat: adding login/logout functionality + password change
  taskmanager/accounts/__init__.py
  taskmanager/accounts/admin.py
  taskmanager/accounts/apps.py
  taskmanager/accounts/migrations/__init__.py
  taskmanager/accounts/models.py
  taskmanager/accounts/tests.py
  taskmanager/accounts/urls.py
  taskmanager/accounts/views.py
  taskmanager/taskmanager/settings.py
  taskmanager/taskmanager/urls.py
  taskmanager/templates/accounts/login.html
  taskmanager/templates/accounts/password_change_done.html
  taskmanager/templates/accounts/password_change_form.html
  taskmanager/templates/accounts/register.html
  taskmanager/templates/tasks/_header.html
Due: black, isort, djlint

feat: adding password change & reset functionality
  taskmanager/accounts/urls.py
  taskmanager/taskmanager/urls.py
  taskmanager/templates/accounts/custom_password_reset_email.html
  taskmanager/templates/accounts/password_reset_complete.html
  taskmanager/templates/accounts/password_reset_confirm_form.html
  taskmanager/templates/accounts/password_reset_done.html
  taskmanager/templates/accounts/password_reset_form.html
Due: black, isort, djlint

feat: add custom model example plus fixing views
  taskmanager/accounts/backends.py
  taskmanager/accounts/forms.py
  taskmanager/accounts/migrations/0001_initial.py
  taskmanager/accounts/migrations/0002_alter_taskmanageruser_unique_together_and_more.py
  taskmanager/accounts/models.py
  taskmanager/accounts/urls.py
  taskmanager/accounts/views.py
  taskmanager/taskmanager/settings.py
  taskmanager/taskmanager/urls.py
  taskmanager/tasks/forms.py
  taskmanager/tasks/migrations/0009_alter_task_options.py
  taskmanager/tasks/models.py
  taskmanager/tasks/urls.py
  taskmanager/tasks/views.py
  taskmanager/templates/accounts/login.html
  taskmanager/templates/tasks/sprint_detail.html
  taskmanager/templates/tasks/task_confirm_delete.html
  taskmanager/templates/tasks/task_detail.html
  taskmanager/templates/tasks/task_list.html
Due: black, isort, djlint

feat: adding initial mock API for tasks
  poetry.lock
  pyproject.toml
  taskmanager/taskmanager/urls.py
  taskmanager/tasks/api/api.py
  taskmanager/tasks/api/model_schemas.py
  taskmanager/tasks/api/schemas.py
  taskmanager/tasks/api/tasks.py
Due: black, isort

feat: adding all CRUD endpoints and tests
  poetry.lock
  pyproject.toml
  taskmanager/taskmanager/urls.py
  taskmanager/tasks/api/tasks.py
  taskmanager/tasks/migrations/0002_auto_20240210_1728.py
  taskmanager/tasks/services/task.py
  taskmanager/tasks/tests/__init__.py
  taskmanager/tasks/tests/conftest.py
  taskmanager/tasks/tests/factories.py
  taskmanager/tasks/tests/test_api.py
Due: black, isort

feat: add pagination
  taskmanager/taskmanager/settings.py
  taskmanager/tasks/api/pagination.py
  taskmanager/tasks/api/tasks.py
Due: black, isort

feat: add archive tasks endpoint
  taskmanager/tasks/api/schemas.py
  taskmanager/tasks/api/tasks.py
  taskmanager/tasks/enums.py
  taskmanager/tasks/services/task.py
  taskmanager/tasks/tests/conftest.py
  taskmanager/tasks/tests/test_api.py
Due: black, isort

feat: adding api validation examples
  taskmanager/tasks/api/api.py
  taskmanager/tasks/api/schemas.py
  taskmanager/tasks/tests/conftest.py
  taskmanager/tasks/tests/test_api.py
Due: black, isort

feat: adding token and jwt authentication
  poetry.lock
  pyproject.toml
  taskmanager/accounts/migrations/0003_initial.py
  taskmanager/accounts/models.py
  taskmanager/accounts/services/__init__.py
  taskmanager/accounts/services/auth.py
  taskmanager/accounts/urls.py
  taskmanager/accounts/views.py
  taskmanager/taskmanager/settings.py
  taskmanager/tasks/api/api.py
  taskmanager/tasks/api/security.py
  taskmanager/tasks/api/tasks.py
  taskmanager/tasks/services/auth.py
  taskmanager/tasks/tests/conftest.py
  taskmanager/tasks/tests/test_api.py
  taskmanager/templates/accounts/token_display.html
Due: black, isort, djlint

feat: adding required permissions
  poetry.lock
  taskmanager/accounts/services/auth.py
  taskmanager/tasks/api/tasks.py
  taskmanager/tasks/tests/test_api.py
Due: black, isort
